.wrapper-destination {
  --background: url("../../assets/destination/background-destination-mobile.jpg");
}

.destanation-title {
  color: hsl( var(--clr-white) / .25);
}

h2 {
  padding: 3rem 0;
}

button.active {
  color: hsl( var(--clr-white));
}

.grid-container--destination {
  grid-template-areas: 
    'title'
    'image'
    'tabs'
    'content';
}

.title {
  grid-area: title;
}

.grid-container--destination > img {
  grid-area: image;
  max-width: 50%;
}

.grid-container--destination > .tab-list {
  grid-area: tabs;
}

.grid-container--destination > .destination-info {
  grid-area: content;
}

.destination-meta {
  flex-direction: column;
  border-top: 1px solid hsl( var(--clr-white) / .2);
  padding-top: 2.5rem;
  margin-top: 2.5rem;
}

article > p {
  max-width: 570px;
}

@media (min-width: 560px) {
  .wrapper-destination {
    --background: url("../../assets/destination/background-destination-tablet.jpg");
  }
  .title {
    margin: 2rem 0;
    justify-self: start;
  }
  .destination-meta {
    flex-direction: row;
    justify-content: space-evenly;
  }
  .grid-container--destination > img {
    max-width: 43%;
  }
}

@media (min-width: 931px) {
  .wrapper-destination {
    --background: url("../../assets/destination/background-destination-desktop.jpg");
  }
  .grid-container--destination {
    grid-template-areas: 
    'title title'
    '. tabs'
    'image content';
    grid-template-rows: repeat(3, min-content);
    justify-content: space-between;
    --grid-first-column: 32rem;
    --grid-second-column: 28rem;
    --bottom-padding: 1rem;
    --view-port: 13vh;
  }
  .grid-container--destination > img {
    max-width: 100%;
    align-self: flex-end;
    place-self: flex-end;
  }
  .destination-info {
    place-self: flex-start;
    align-self: end;
  }
  .destination-meta {
    flex-direction: row;
    justify-content: flex-start;
  }
}