@import "../../styles/variables";

.destination {
  --background: url("../../assets/destination/background-destination-desktop.jpg");

  &_main {
    max-width: 1110px;
    width: calc(100% - 48px * 2);
    margin: auto;
    h2 {
      color: $White;
    }
    h6 {
      color: $Blue;
    }
    h4 {
      color: $White;
      margin-top: 12px;
    }
    p {
      padding: 15px 0 53px;
      border-bottom: 1px solid #383b4b;
    }
  }
  &_container {
    align-items: flex-end;
    justify-content: space-between;
    gap: 0 40px;
    grid-template-areas:
      "images slider"
      "images content";
    .images {
      grid-area: images;
      width: 100%;
      display: flex;
      img {
        width: 100%;
        max-width: 445px;
        max-height: 445px;
        margin-left: auto;
      }
    }
    .slider {
      grid-area: slider;
      align-self: flex-start;
      a {
        color: $Blue;
        margin-right: 35px;
        &.active {
          border-bottom: 3px #fff solid;
          padding-bottom: 12px;
          color: $White;
        }
      }
    }
    .content {
      grid-area: content;
      .figures {
        display: flex;
        margin-top: 28px;
      
        div {
          margin-right: 80px;
          &:last-child {
            margin-right: 0;
          }
        }
      }
    }
  }
}
