@import "../../styles/variables";

.destination {
  --background: url("../../assets/destination/background-destination-desktop.jpg");
  &_main {
    width: 100%;
    max-width: 1440px;
    margin: auto;
    position: relative;
    section {
      max-width: 1110px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 0 50px;
      margin: auto;
    }
    h2 {
      color: $White;
    }
    h6 {
      color: $Blue;
    }
    h4 {
      color: $White;
      margin-top: 12px;
    }
    p {
      padding: 15px 0 53px;
      border-bottom: 1px solid #383b4b;
    }
    .slider {
      ul {
        display: flex;
        li {
          color: $Blue;
          margin-right: 35px;
          &:hover {
            border-bottom: 3px rgba(255, 255, 255, 0.5) solid;
          }
          &:last-child {
            margin-right: 0;
          }
          &.active {
            border-bottom: 3px #fff solid;
            padding-bottom: 12px;
            color: $White;
          }
        }
      }
    }
    .container {
      width: 100%;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      display: none;
      img {
        width: 100%;
        max-width: 100%;
        object-fit: cover;
        align-self: center;
      }
    }
    .current {
      display: grid;
      grid-auto-flow: column;
      justify-content: space-between;
      grid-template-columns: repeat(
        auto-fit,
        minmax(232px, 445px) minmax(250px, 500px)
      );
      transition: transform 0.2s ease-out;
    }
  }
  // &_container {
  //   align-items: flex-end;
  //   --gridColumns: repeat(auto-fit, minmax(200px, 445px) minmax(400px, 445px));
  //   --gridRows: repeat(auto-fit, minmax(35px, auto) minmax(min-content, 445px));
  //   gap: 0 100px;
  //   grid-template-areas:
  //     ". slider"
  //     "images content";
  //     margin-bottom: 10vh;
  // .track {
  //   grid-area: images;
  //   height: 100%;
  //   overflow: hidden;
  // }
  // .images {
  //   width: 100%;
  //   height: 100%;
  //   display: flex;
  //   position: relative;
  //   transition: transform 800ms ease-in-out;
  //   .current_image {
  //     display: block;
  //   }
  //   img {
  //     width: 100%;
  //     position: absolute;
  //     bottom: 0;
  //     left: 0;
  //     right: 0;
  //     transition: transform 800ms ease-in-out;
  //     display: none;
  //   }
  // }
  //   .slider {
  //     grid-area: slider;
  //     align-self: flex-start;
  // ul {
  //   display: flex;
  //   li {
  //     color: $Blue;
  //     margin-right: 35px;
  //     &:hover {
  //       border-bottom: 3px rgba(255, 255, 255, .5) solid;
  //     }
  //     &:last-child {
  //       margin-right: 0;
  //     }
  //     &.active {
  //       border-bottom: 3px #fff solid;
  //       padding-bottom: 12px;
  //       color: $White;
  //     }
  //   }
  // }
  //   }
  //   .content {
  //     grid-area: content;
  //     .figures {
  //       display: flex;
  //       margin-top: 28px;
  //       div {
  //         margin-right: 80px;
  //         &:last-child {
  //           margin-right: 0;
  //         }
  //       }
  //     }
  //   }
  // }
}
