@import "../../styles/variables";

.technology {
  --background: url("../../assets/technology/background-technology-desktop.jpg");
  &_main {
    width: 100%;
    max-width: 1440px;
    margin: auto;
    section {
      max-width: 1275px;
      display: flex;
      flex-direction: column;
      height: 85vh;
      justify-content: space-between;
      margin-left: auto;
      padding: 0 0 0 50px;
    }
    h3 {
      color: $White;
      margin: 10px 0 17px;
    }
    p {
      max-width: 444px;
    }
  }
  &_container {
    gap: 0 30px;
    --gridColumns: repeat(
      auto-fit,
      minmax(60px, auto) minmax(400px, 470px) minmax(300px, 480px)
    );
    --gridRows: minmax(auto, 480px);
    grid-template-areas: "slider content track";
    align-items: center;
    margin-bottom: 10vh;
    .track {
      grid-area: track;
      height: 100%;
      overflow: hidden;
    }
    .images {
      width: 100%;
      height: 100%;
      display: flex;
      position: relative;
      transition: transform 800ms ease-in-out;
      .current_image {
        display: block;
      }
      img {
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        display: none;
      }
    }
    .slider {
      grid-area: slider;
      ul {
        li {
          width: 80px;
          height: 80px;
          border-radius: 50%;
          border: solid 1px rgba(255, 255, 255, 0.25);
          margin-bottom: 32px;
          display: flex;
          align-items: center;
          justify-content: center;
          font-family: "Bellefair";
          font-style: normal;
          font-weight: normal;
          text-transform: uppercase;
          font-size: 32px;
          line-height: 37px;
          color: $White;
          &:last-child {
            margin-bottom: 0;
          }
          &.active {
            background-color: $White;
            color: $Dark;
          }
        }
      }
    }
    .content {
      grid-area: content;
      h6 {
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 2.7px;
        color: $Blue;
      }
    }
  }
}

@media screen and (max-width: 1104px) {
  .technology {
    .slider {
      ul {
        li {
          width: 60px;
          height: 60px;
        }
      }
    }
  }
}

// @media screen and (max-width: 960px) {
//   .technology {
//     &_main {
//       section {
//         height: calc(100vh - 96px);
//         justify-content: normal;
//         padding: 0;
//       }
//       h5 {
//         margin: 40px 0 60px;
//         padding: 0 40px;
//       }
//     }
//     &_container {
//       --gridColumns: 1fr;
//       align-items: flex-start;
//       --gridRows: repeat(auto-fit, minmax(auto, 310px) minmax(auto, 60px) minmax(auto, 237px));
//       gap: 0;
//       grid-template-areas:
//       "track"
//       "slider"
//       "content";
//       height: 707px;
//       align-content: space-between;
//       .images {
//         img {
//           max-height: 310px;
//         }
//       }
//       .slider {
//         padding: 0 40px;
//         display: flex;
//         justify-content: center;
//         ul {
//           display: flex;
//           li {
//             margin: 0;
//             margin-right: 16px;
//             &:last-child {
//               margin-right: 0;
//             }
//           }
//         }
//       }
//       .content {
//         padding: 0 40px;
//         text-align: center;
//         p {
//           max-width: 458px;
//           margin: auto;
//         }
//       }
//     }
//   }
// }
