@import "../../styles/variables";
h5 {
  color: $White;
  margin-top: 8vh;
  span {
    font-weight: bold;
    opacity: 0.25;
    margin-right: 25px;
  }
}

@media screen and (max-width: 1022px) {
  h5 {
    margin-top: 4vh;
  }
}