@import "../../styles/variables";
.layout {
  position: relative;
  height: 445px;
  transition: transform 800ms ease-in-out;
}

.layout_header {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 910px) {
  .layout {
    height: 88vh;
  }
  .layout_header {
    flex-direction: column;
  }
}

