.wrapper-crew {
  --background: url("../../assets/crew/background-crew-mobile.jpg");
}

.grid-container--crew {
  grid-template-areas: 
    'title'
    'image'
    'tabs'
    'content';
}

.title {
  grid-area: title;
}

.grid-container--crew > img {
  grid-area: image;
  max-width: 50%;
  /* border-bottom: 1px solid hsl( var(--clr-white) / .1); */
}

.grid-container--crew > .tab-list {
  grid-area: tabs;
}

.grid-container--crew > .crew-info {
  grid-area: content;
}

.grid-container--crew .tab-list > * {
  width: 0.9375rem;
  height: 0.9375rem;
  background-color: hsl( var(--clr-white) / .17 );
  border-bottom: 0;
  border-radius: 50%;
}

.grid-container--crew .tab-list .active {
  background-color: hsl( var(--clr-white) );
}

@media (min-width: 560px) {
  .wrapper-crew {
    --background: url("../../assets/crew/background-crew-tablet.jpg");
  }
  .grid-container--crew {
    grid-template-areas: 
      'title'
      'content'
      'tabs'
      'image';
  }
}

@media (min-width: 931px) {
  .wrapper-crew {
    --background: url("../../assets/crew/background-crew-desktop.jpg");
  }
  .grid-container--crew {
    grid-template-areas: 
      'title title'
      'content image'
      'tabs image';
      grid-template-rows: min-content 500px 5rem;
      align-self: flex-end;
    --bottom-padding: 1rem;
    --view-port: 7vh;
  }
  .grid-container--crew > img {
    max-width: 100%;
    width: 80%;
    place-self: end;
    align-self: center;
  }
  .grid-container--crew > .crew-info {
    align-self: center;
  }
  .grid-container--crew .tab-list {
    --gap: 1.5rem;
    justify-self: flex-start;
  }
  .crew-info > p {
    max-width: 444px;
    margin: 0;
  }
}