@import "../../styles/variables";
.home {
  --background: url("../../assets/home/background-home-desktop.jpg");

  &_main {
    width: 100%;
    max-width: 1440px;
    margin: auto;
    // height: 85vh;
    section {
      margin: auto;
      max-width: 1110px;
      padding: 0 50px;
      display: flex;
      justify-content: space-between;
      align-items: end;
      height: 75vh;
    }
    h5 {
      color: $Blue;
      margin-top: 0;
    }
    h1 {
      color: $White;
      margin: 25px 0;
    }
    button {
      background-color: $White;
      color: $Dark;
      width: 274px;
      height: 274px;
      border-radius: 50%;
      position: relative;
      &:hover {
        &::before {
          content: "";
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          position: absolute;
          width: 274px;
          height: 274px;
          border-radius: 50%;
          background-color: $White;
          opacity: 0.1;
          animation: pulse 1s ease-in-out infinite alternate;
        }
      }
    }
  }
  &_container {
    max-width: 450px;
  }
}

@keyframes pulse {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.6);
  }
}

// @media screen and (max-width: 1022px) {
//   .home {
//     &_main {
//       height: 90vh;
//       section {
//         flex-direction: column;
//         align-items: center;
//         height: 85vh;
//       }
//     }
//     &_container {
//       text-align: center;
//       margin-top: 10vh;
//       a {
//         margin-top: 15vh;
        
//       }
//     }
//   }
// }
