.wrapper-technology {
  --background: url("../../assets/technology/background-technology-mobile.jpg");
}

.grid-container--technology {
  grid-template-areas: 
    'title'
    'image'
    'tabs'
    'content';
}

h2 {
  padding: 2rem 0;
}

.technology-title {
  grid-area: title;
  padding: 1rem 0;
  justify-self: center;
  align-self: flex-start;
}

.technology-title > span {
  color: hsl( var(--clr-white) / .25);
}

.grid-container--technology > img {
  grid-area: image;
  width: 100%;
  display: none;
}

.grid-container--technology > img.active {
  display: block;
}
.grid-container--technology > .tab-list {
  grid-area: tabs;
}

.grid-container--technology > .technology-info {
  grid-area: content;
  display: none;
}
.grid-container--technology > .technology-info.active {
  display: block;
}

.grid-container--technology .tab-list > * {
  width: 2.5rem;
  height: 2.5rem;
  background-color: transparent;
  border-bottom: 0;
  border: 1px solid hsl( var(--clr-white) / .25);
  border-radius: 50%;
  font-size: var(--fs-600);
  font-family: var(--ff-serif);
}

.grid-container--technology .tab-list .active {
  background-color: hsl( var(--clr-white) );
  color: hsl( var(--clr-dark) );
}

@media (min-width: 600px) {
  .wrapper-technology {
    --background: url("../../assets/technology/background-technology-tablet.jpg");
  }
  .grid-container--technology .tab-list > * {
    width: 3.75rem;
    height: 3.75rem;
  }
  .technology-title {
    padding: 2rem 0;
    justify-self: flex-start;
  }
}

@media (min-width: 931px) {
  .wrapper-technology {
    --background: url("../../assets/technology/background-technology-desktop.jpg");
  }
  .grid-container--technology {
    grid-template-areas: 
      'title title .'
      'tabs content image';
      grid-template-rows: min-content 527px;
  }
  .grid-container--technology > img {
    width: auto;
    align-self: center;
    justify-self: flex-end;
  }
  .grid-container--technology > .technology-info {
    align-self: center;
  }
  .grid-container--technology .tab-list {
    --gap: 2rem;
    flex-direction: column;
    align-self: center;
  }
  .grid-container--technology .tab-list > * {
    width: 5rem;
    height: 5rem;
  }
  .technology-info > p {
    margin: 0;
  }
}